<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body class="home">
  <%- include('./partials/nav.ejs') %>
  <h1>Personal Blog</h1>
  <p>Build with Node.js Express, EJS, MongoDB</p>
  <p><em>Total size of images, bytes:</em> <b><%= sumFileSize %></b></p>
</body>
</html>
